:host {
  flex: 1;
  min-width: 400px;
  overflow: auto;
  position: relative;
}

:host h2 {
  text-align: center;
  padding: 15px 10px 0;
  font-family: "Microsoft Yahei", "\\5FAE软雅黑", "STHeiti Light",
    "\\534E文细黑", SimSun, "\\5B8B体", Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.content {
  padding: 0 20px;
  color: #333;
}

.content ::ng-deep * {
  max-width: 100%;
  white-space: pre-wrap;
}

.logo-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}