:host {
  flex: 1;
  min-width: 400px;
  overflow: auto;
  position: relative;
}

:host h2 {
  text-align: center;
  padding: 0 10px;
}

.content {
  padding: 0 20px;
  color: #333;
}

.content ::ng-deep * {
  max-width: 100%;
  white-space: pre-wrap;
}
