:host {
  width: 300px;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
  flex-basis: 1;
  border: 1px solid #e8e8e8;
  border-left: none;
  border-bottom-width: 0;
  border-top-width: 0;
  display: flex;
  flex-direction: column;
}

.mat-nav-list {
  padding: 0px 0 20px;
}

.mat-list-avatar {
  height: auto !important;
  width: auto !important;
  margin: 8px auto;
}

.source-name {
  font-size: 12px;
  color: #999;
  margin-bottom: 3px;
}

.mat-list-item {
  position: relative;
  height: auto !important;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

::ng-deep .mat-list-item-content {
  align-items: flex-start !important;
  padding: 8px 12px 8px 8px !important;
}

.mat-list-item:hover,
.active {
  background-color: #4f9cf4 !important;
  color: white !important;
}

.mat-list-item:hover .info,
.mat-list-item:hover .source-name,
.active .info,
.active .source-name {
  color: #eee;
}

.item-inner-container {
  width: 260px;
  padding-left: 8px;
  padding-right: 20px;
  box-sizing: border-box;
}

.mat-list-item:last-child {
  border-bottom: none;
}

app-article-avatar {
  margin: 0px !important;
}

.info {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #999;
}

.time-distance {
  font-size: 12px;
}
