:host {
  width: 300px;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;
  flex-basis: 1;
  border: 1px solid #e8e8e8;
  border-left: none;
  border-bottom-width: 0;
  border-top-width: 0;
}

.active {
  background-color: #fff0e1 !important;
}

h3 {
  font-size: 18px;
  font-weight: 600 !important;
  display: block !important;
  white-space: initial !important;
  margin: 0;
}

.mat-nav-list {
  padding: 0px 0 20px;
}

.mat-list-avatar {
  height: auto !important;
  width: auto !important;
  margin: 8px auto;
}

.mat-list-item {
  position: relative;
  height: auto !important;
  box-sizing: border-box;
}

::ng-deep .mat-list-item-content {
  align-items: flex-start !important;
}

.mat-list-item:hover {
  background-color: #4f9cf4 !important;
  color: white !important;
}

.mat-list-item:after {
  content: "";
  display: block;
  height: 1px;
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #eee;
}

.mat-list-item:last-child {
  border-bottom: none;
}

app-article-avatar {
  margin: 0px !important;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-distance {
  font-size: 12px;
}
