
<mat-nav-list>
  <mat-list-item
    matRipple
    routerLinkActive="active"
    [routerLink]="'/feed/' + categoryId + '/' + feed.id"
    matRippleColor="rgba(79, 157, 244, 0.4)"
    *ngFor="let feed of feeds; let i = index; trackBy: trackByFeed"
  >
    <app-article-avatar [feed]="feed"></app-article-avatar>
    <div class="item-inner-container">
      <div class="source-name">{{ feed.source.name }}</div>
      <div [appClamp]="3">{{ feed.title }}</div>
      <div>
        <p class="info">
          <span>{{ feed.author }}</span>
          <span class="time-distance">{{
            calcPublishedDistance(feed.publishedDate)
          }}</span>
        </p>
      </div>

      <app-feed-list-item-image-preview
        [feed]="feed"
      ></app-feed-list-item-image-preview>
    </div>
  </mat-list-item>
</mat-nav-list>
