<app-dialog-header
  title="Add feed"
  [closeable]="true"
  [closeFn]="handleClose"
></app-dialog-header>

<form [formGroup]="form">
  <app-form-field>
    <app-input
      placeholder="Rss name"
      formControlName="name"
      icon="faLink"
      iconColor="#fa9d65"
    ></app-input>
  </app-form-field>

  <app-form-field>
    <app-input
      placeholder="Url"
      formControlName="url"
      icon="faRegistered"
      iconColor="#fa9d65"
    ></app-input>
  </app-form-field>

  <div class="dialog-footer">
    <app-button (click)="handleClose()">Cancel</app-button>
    <app-button type="primary" (click)="submit()">OK</app-button>
  </div>
</form>
