:host {
  display: block;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 0;
  cursor: pointer;
  user-select: none;
}

:host .bookmark {
  color: #673ab7;
  position: relative;
  top: -2px;
}

:host .star {
  position: absolute;
  color: #ffd740;
  left: 3px;
  top: 1px;
}
