:host .app-container {
  padding: 20px;
  background-color: white;
}

:host .mat-drawer {
  padding-top: 20px;
}

:host .mat-drawer-content {
  background-color: white;
  margin-left: 160px !important;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

:host .side-links {
  list-style: none;
  padding: 0;
}

:host .side-links li {
  margin-bottom: 8px;
}

:host .side-links a {
  color: #3c4447 !important;
}

:host .side-links li .ng-fa-icon {
  width: 22px;
  display: inline-block;
}

.back-link button {
  box-shadow: none;
  background-color: #f89d6a;
  color: white;
}

.mat-drawer a {
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
