<mat-drawer-container class="app-container">
  <mat-drawer mode="side" opened>
    <a class="back-link" routerLink="/">
      <button mat-mini-fab>
        <fa-icon size="1x" [icon]="faArrowLeft"></fa-icon>
      </button>
    </a>
    <ul class="side-links">
      <li>
        <a routerLink="/setting/source" routerLinkActive="active">
          <fa-icon [icon]="faListAlt"></fa-icon>
          Feed Sources
        </a>
      </li>
      <li>
        <a routerLink="/setting/notification" routerLinkActive="active">
          <fa-icon [icon]="faBell"></fa-icon>
          Notification
        </a>
      </li>
    </ul>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
