:host .app-container {
  padding: 20px;
  background-color: white;
}

:host .side-links {
  list-style: none;
  padding: 0;
}

.side-links a {
  text-decoration: none;
  font-weight: bold;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

:host .mat-drawer {
  padding-right: 20px;
}

:host .mat-drawer-content {
  background-color: white;
}