
:host {
    display: block;
    height: 36px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #eee;
}

input {
    display: block;
    height: 100%;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    outline: none;
    border: 1px solid white;
    border-radius: 2px;
    padding-left: 30px;
}

input[type=text]:focus {
    box-shadow: 0 0 5px #f89d6a;
    border: 1px solid #f89d6a;
  }

  .search-icon {
      color: #999;
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translate(0, -50%);
  }