:host {
  display: flex;
  height: 35px;
  line-height: 35px;
  padding: 18px 18px 12px 10px;
  align-items: center;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.heading fa-icon {
  display: inline-block;
  vertical-align: middle;
  color: #777;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-input {
  margin-right: 12px;
}

.search-container {
  cursor: pointer;
  padding: 3px;
  color: #555;
}

