<div class="container">
  <div class="heading" *ngIf="!isSearching">
    {{ selectedCategoryName }}
  </div>

  <app-input
    *ngIf="isSearching"
    placeholder="Search"
    [formControl]="searchStrCtrl"
    size="sm"
    (keydown.enter)="onSearch()"
  ></app-input>


  <div class="operating-container">
    <app-button [transparent]="true" (click)="toggleSearch()" *ngIf="!isSearching">
      <fa-icon class="search-icon" size="1x" [icon]="faSearch"></fa-icon>
    </app-button>

    <app-button [transparent]="true" (click)="toggleSearch()" *ngIf="isSearching">
      <fa-icon class="times-icon" size="1x" [icon]="faTimes"></fa-icon>
    </app-button>

    <app-button [transparent]="true" *ngIf="!isSearching">
      <fa-icon class="setting-icon" size="1x" [icon]="faCog"></fa-icon>
    </app-button>
  </div>

</div>
