<div class="container">
  <mat-card>
    <form [formGroup]="form">
      <app-form-field>
        <app-input
          placeholder="Username"
          formControlName="username"
          icon="faLink"
          iconColor="#fa9d65"
        ></app-input>
      </app-form-field>

      <app-form-field>
        <app-input
          placeholder="Password"
          formControlName="password"
          type="password"
          icon="faLink"
          iconColor="#fa9d65"
        ></app-input>
      </app-form-field>

      <app-button type="primary" (click)="handleLogin()">
        Login
      </app-button>
    </form>
  </mat-card>
</div>
