<div class="container">
  <mat-card>
    <form [formGroup]="form">
      <mat-form-field class="">
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>

      <mat-form-field class="">
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>

      <button 
        mat-button 
        mat-raised-button
        (click)="handleLogin()" 
        color="primary">
        Login
      </button>
    </form>
  </mat-card>
</div>
