h2 {
  color: #555;
  text-align: center;
  margin-top: 0;
}

.container {
  width: 400px;
  margin: auto;
  padding-top: 100px;
}

.logo-container {
  text-align: center;
}

.logo-container img {
  width: 80px;
}

.panel {
  border-radius: 12px;
  padding: 28px;
  box-shadow: 1px 3px 8px #d6d6d6;
}

mat-form-field {
  display: block;
}

.operation {
  margin-top: 26px;
  display: flex;
  justify-content: flex-end;
}
