:host {
  display: flex;
  width: 100%;
  align-items: center;
}

.url {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  flex-shrink: 0;
  display: inline-block;
  width: 150px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.remove-button {
  flex-shrink: 0;
  color: #777;
}
